.input {
  width: calc(100% - 26px);
  padding: 8px 12px;
  margin-right: 26px;
  border-radius: 6px;
  border: 1px solid var(--gray-a7);
  background-color: var(--color-page-background);
  font-size: 14px;
  line-height: 1.25;
  color: var(--gray-12);
  outline: none;
}

.input:hover {
  border-color: var(--gray-a8);
}

.input:focus {
  border-color: var(--gray-a8);
  box-shadow: 0 0 0 1px var(--gray-a8);
}